<!DOCTYPE html>
<html>
<head>
    <title>Make a Reservation</title>
</head>
<body>
    <h1>Reservation Form</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Customer ID:</label>
        <input type="number" name="customer_id" required><br><br>

        <label>Date:</label>
        <input type="date" name="date" required><br><br>

        <label>Time:</label>
        <input type="time" name="time" required><br><br>

        <label>Number of Guests:</label>
        <input type="number" name="num_guests" required><br><br>

        <label>Table Number:</label>
        <input type="number" name="table_number" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>